body
{
  background: linear-gradient(45deg, #121212, #1a1a1a) ;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
  margin: 0px;
  padding: 0px;
}

  /* The dots/bullets/indicators 
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }*/

.nav {
    height: 50px;
    width: 100%;
    background-color: #000000;
    position: relative;
    padding: 0px 20px 20px 20px ;
    text-align: center;
    margin: 0px auto;

  }
  
  .nav > .nav-header {
    display: inline;
    margin: auto;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .nav > .nav-btn {
    display: none;
    margin-right: 20px;
  }
  
  a
  {
    display: inline;
    text-align: center;
    padding: 0px 20px;
  }
  .nav > .nav-links {
    display: inline;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 10px 10px;
    text-decoration: none;
    color: white;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #000000;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width: 600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: fit-content;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover
    {
      background-color: rgb(54, 52, 52);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #000000;
      height: 0px;
      transition: all 0.3s ease;
      overflow-y: hidden;
      top: 50px;
      left: 0;
      padding: 0px;
      text-align: center;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      margin-right: 50px !important;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
     
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      
    }

  }

/* Slideshow container */
.slideshow-container {
    
    width: 100%;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    z-index: -1;
  
  }
  .mySlides
  {

    width: 100%;
    margin: 0px;
  }
  .headimage{
    overflow: hidden;
    width: 100%;
    margin: 0px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 50%;
    text-align: left;
    background-image: linear-gradient(to right, black,black,black , rgba(0, 0, 0, 0.647),rgba(0, 0, 0, 0) );
    padding-left: 150px;
    opacity: 0.91;
    margin-top: 50px;
    z-index: 1;
    top: -50px;
    padding-top: 100px;
   
  }
  .podidetails
  {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
  }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .homelink
  {
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: white;
    margin: 0px;
  }
  .headline
  {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: right;
  }
.adoo
{
  padding: 0px;
  margin: 0px;
}
.ado
{
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
  
}
  .details
  {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    float: left;
  }
  .cast
  {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .rating
  {
    margin: 0px auto;
    display: flex;
    width: 50%;
    height: 35px;
    padding: 0px;
  }
  .ratinglogo
  {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    border-radius: 15px;
  }
  .ratetext
  {
    display: block;
    color: #03DAC5;
    font-family: 'Poppins', sans-serif;
    padding: 0px 5px;
    margin: auto;
    font-weight: 500;
    font-size: 18px;
    width: 50%;

  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @media only screen and (max-width: 811px)
  {
    .headline{
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
  }
  .details
  {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
  
  }
  .cast
  {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  .headtitle
  {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  margin:10px auto;
  width: 80%;
  
  }
  .title2{
    display: flex;
    width: 100%;
  }
  .text{
    top: -50px;
    padding-top: 40px;
    padding-bottom: -50px;
    padding-left:50px ;
    width: 60%;
    height:100%;
    padding-right: 30px;
  }
  .slideshow-container {
    margin: 0px ;
    height: 100%;
    position: relative;
    margin: 0px;
    overflow: visible;
    z-index: -1;
  }
  .headimage{
    width: 100%;
    height: fit-content;
  }

.link
{
    color: #BB86FC;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: -50px;
    padding-left: -100px;
    white-space: nowrap;
    overflow: visible;
    
}
.title2{
  display: flex;
  margin: 0px;
}
}
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {
    body
    {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box !important;
      overflow-x: hidden !important;
    }
    .ado
    {
      margin: 0px;
      padding: 0px;
    }

    .headline{
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        display: block;
      
    }
    .details
    {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      font-weight: 300;
      text-align: justify;
      width: 65%;
      padding-right: 20px;
      display: block;
      margin: auto;
    }
    .cast
    {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      display: block;
      display: block;
      margin: auto;
      display: block;
      margin: auto;
    }
    .title2{
      display: flex;
      margin: 0px;
      width: 80%;
      padding: 0px;
      
    }
    .headtitle
    {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 0px auto;
    width: 50%;
    
    }
    .link
    {
      height: min-content;
      color: #BB86FC;
      font-size: 20px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      padding: 10px 10px;
      width: 40%;
      white-space: nowrap;
      overflow: visible;
      margin: 0px auto;
      
    }
    .titlebox
    {
        margin-left: 0px;
        padding: 0px;
    }
    .text{
      top: -50px;
      padding-top: 20px;
      padding-left:30px ;
      width: 90%;
      padding-right: 30px;
      
    }
    .slideshow-container {
      
      height: 100%;
      position: relative;
      margin: 0px;
      overflow: hidden;
      z-index: -1;
    }
    .headimage{
      width: 100%;
      height: fit-content;
    }

  }
  @media only screen and (max-width: 527px) {
    .details
    {
      display: none;
    }
  }

.headtitle
{
  font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    color: #BB86FC;
    width: 90%;
}
.link
{
    color: #BB86FC;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 40%;
    white-space: nowrap;
    overflow: visible;
}
.title2{
  display: flex;
  margin-left: 60px;}

.titlebox
{
    background-color: #282828;
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 96%;
    margin: 0px auto;
    
}

.moviename
{
  height: 50px;
  width: 190px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}
.moviename2
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin: auto;
  height: 50px;
}
.readmorebtn
{
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  background-color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: 600;
  position: relative;
  bottom: 1px !important;
}
.btnnnn
{
  font-size: 60px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  border-radius: 70px;
  width: 80px;
  margin: auto;
}
.blackbox
{
  height: 300px !important;
  width: 180px !important;
  margin: 0px ;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  transition: .5s;
}

.boximg
{
  height: 265px !important;
  width: 175px !important;
  border-radius: 7px;
  margin: 0px auto ;
  display: block;
  padding: 0px;
}
.boxes
{
    width: 95%;
    display: flex;
    overflow-x: scroll ;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 10px auto;    
}
.buttonslideright
{
  position: absolute;
  width: fit-content;
  padding: 16px 20px;  
  scroll-behavior: smooth;
  float: right;
  z-index: 1;
  right: 18px;
  margin-top: 120px;
  border-radius: 40px;
  font-weight: 900;
  font-size: larger;
  background-color: #ffffff;
  color: #000;
}
.buttonslideleft
{
  position: absolute;
  width: fit-content;
  padding: 16px 20px;  
  scroll-behavior: smooth;
  float: right;
  z-index: 1;
  left: 18px;
  margin-top: 120px;
  border-radius: 40px;
  font-weight: 900;
  font-size: larger;
  background-color: #ffffff;
  color: #000;
}
.buttonslideright:hover
{
  background-color: #ffffff ;
  opacity: 1;
}
@media only screen and (max-width:900px)
{
.buttonslideright
{
  display: none;
}
.buttonslideleft
{
  display: none;
}
}
.boxbl
{
  cursor: pointer;
  width: fit-content;
  display:block;
  margin: auto 0px;
  border-radius: 10px;
  padding: 10px 10px;
  overflow: hidden;
  transition: .5s;
}
.box
{
    cursor: pointer;
    width: 90px;
    height: 265px ;
    display:inline-table;
    margin: 0px;
    border-radius: 10px;
    padding: 10px 0px;
    overflow: hidden;
    transition: .5s;
    
}
.boxpage
{
   cursor: pointer;
    width: 100px;
    height: 300px;
    display:inline-table;
    margin: 0px;
    border-radius: 7px;
    padding: 10px 0px;
    overflow: hidden;
    transition: .5s;
    
}

.box:hover , .boxbl:hover
{
  background-color:  #161616;
  transform: scale(1.01);
}
a
{
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width:850px){
  #newsepa
  {
    display: none;
  }
  body
{
  box-sizing: border-box !important;
  overflow-x: hidden !important;
  margin: 0px;
}
  .titlebox
{
    background-color: #282828;
    border-radius: 5px;
    display: block;
    width: 96%;
    margin:0px auto;
    
}

  .boxes
  {
      display: flex;
      overflow-x: scroll ;
      -ms-overflow-style: none;
      scrollbar-width: none;
      width: 98%;
      margin: 0px;
      padding: 0px;
  }
  
  .box
  { 
      width: 90px;
      height: 260px;
      display:inline-table;
      margin: 0px;
      border-radius: 10px;
      padding: 10px 5px;
      
  }
  .boxbl
{
  cursor: pointer;  
  width: 200px;
  margin: 0px;
  border-radius: 10px;
  padding: 10px 5px;
}
  .boxpage
  {
      
      width: 190px;
      height: 300px;
      display:inline-table;
      margin: 0px 1px;
      border-radius: 10px;
      padding: 10px 10px;
      
  }
  .container2 {
    position: relative;
    cursor: pointer;
    width: 190px;
    height: 300px;
    margin: 0px;
    border-radius: 7px;
    padding: 10px 13px;
    transition: .5s;
  }
  
  .boximg
    {
      height: 210px;
      width: 170px !important; 
      margin: 0px auto ;
      display: block;
      border-radius: 10px;
      padding: 0px;
    }
    .blackbox
{
  height: 250px !important;
  width: 170px !important;
  background-color: #000;
  margin:10px auto;
  display: block;
  border-radius: 10px;
  padding: 5px;
}
    .moviename
{ 
  width: 180px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;

}
    a
{
  margin: 0px;
  padding: 0px;
}

}
@media only screen and (max-width:600px) {
  body
    {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box !important;
      overflow-x: hidden !important;
    }
  .titlebox
  {
      background-color: #282828;
      border-radius: 10px;
      display: block;
      padding: 10px;
      width: 90%;
      margin: 0px auto ;
      
  }
  .box
{

    width: 90px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 5px;
    padding:10px 5px;
    
}
.container2 {
  position: relative;
  cursor: pointer;
  width: 160px;
  height: 200px;
  margin: 0px;
  border-radius: 7px;
  padding: 10px 13px;
  transition: .5s;
}
.boxpage
{

    width: 160px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 5px;
    padding:10px 0px;
    
}
.boxes
{
  overflow-x: scroll ;
  display: flex;
  width: 90%;
  margin: 20px auto;
  padding: 0px;
}

.boximg 
{
  height: 210px;
  width: 170px !important; 
  margin: 0px auto ;
  display: block;
  border-radius: 10px;
  padding: 0px;
}
.blackbox
{
  height: 300px;
  width: 300px;
  background-color: #000;
  margin:10px auto;
  display: flex;
  border-radius: 10px;
  padding: 5px;
}
.moviename
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  width: 180px;
}
a
{
  margin: 0px;
  padding: 0px;
}
.link
{
    color: #BB86FC;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 40%;
    white-space: nowrap;
    overflow: visible;
}
.readmorebtn2
{
  display: none;
}
.end
{
    display: block !important;
    background: black;
    margin: 0px !important;
}
}

.space
{
  background-color: #e41010;
  width: 100%;
  margin: 40px 0px;
}

.end
{
    display: flex;
    background: black;

}

.footerboxes
{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    overflow: visible;

}

.footerboxelogo
{
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 90%;
    height: 200px;
    margin-top: 70px;
}
.footerlicenter
{
  text-align: center;
  display: block;
  margin: auto;
}
.footerul
{
  text-align: center !important;
    display: block;
    list-style-type: none;
    width: 90%;
    height: fit-content;
    padding: 0px 20px;
    margin: 0px auto;
}

@media only screen and (max-width:1114px) {
  .footerboxes
{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    overflow: visible;
    margin:0px !important;

}

.footerboxelogo
{
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 90%;
    padding-top: 10px;
    height: 50px   !important;
    margin-top: 10px !important;
    margin-left: auto;
    margin-right: auto;
}

.footerul
{
    display: block;
    list-style-type: none;
    width: 90%;
    height: 100px !important;
    padding: 0px 0px;
    margin: 15px !important;
    text-align: center !important;
}
  
}
@media only screen and (max-width:597px) {
  body
{
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
  .footerboxes
{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    overflow: visible;
    margin: 0px;

}

.footerboxelogo
{
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 90%;
    height: fit-content;
    margin-top: 60px;
}

.footerul
{
    display: block;
    list-style-type: none;
    width: 90%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    padding-top: 20px;
  
}
}

.boximgcover
{
  width: 350px;
  border-radius: 10px;
  overflow: hidden;

}
.boxescover
{
    overflow: hidden;
    display: flex;
    overflow-x: scroll ;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 20px auto;
}
.boxcover
{
    width: 350px;
    height: 200px;
    display:inline-table;
    margin: 0px 8px;
    border-radius: 7px;
    padding: 10px 13px;
    overflow: hidden;
    cursor: pointer;
}
.box:hover
{
  background-color:  #161616;
}

.headtitlecover
{
   font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    color: #BB86FC;
    width: 90%;
    
}

.linkcover
{
    color: #BB86FC;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 10%;
    white-space: nowrap;
    overflow: visible;
}
.movienamecover
{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  text-align: left;
  color: white;
  font-weight: 500;
  margin: auto 10px;
  
}
.showdetails
{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  text-align: center;
  color: white;
  opacity: 0;
}


.intro
{
    height: 50px;
    width: 350px;
    margin-top: -55px;
    padding: 0px;
    position: relative;
    color: white;
    background-color: rgba(27, 27, 27, 0.755);
    border-radius: 7px;
    transition: .5s;
}
.readmorebtnshow
{
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px auto;
  background-color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: 600;
  display: none;
  cursor: pointer;
}
.boxcover:hover .intro
{
  height: 170px;
  margin-top: -170px;
  background: black;
}
.boxcover:hover .showdetails 
{
  opacity: 1;
  visibility: visible;
}

.boxcover:hover .readmorebtnshow 
{
  display: block;
  visibility: visible;
}

.ratingcover
{
  margin: auto;
  display: flex;
  width: 50%;
  padding: 0px;
 
}
.ratinglogocover
{
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-left: 50px;
  border-radius: 15px;
}
.ratetextcover
{
  display: block;
  color: #03DAC5;
  font-family: 'Poppins', sans-serif;
  padding: 0px 5px;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
}
.headimagem{
  width: 99%;
  margin: 0px auto;
  display: block;
}
.box1
{
  margin: 0px;
  padding: 0px;
  display: flex;
}
.emptybox
{
  border: solid 1px white;
  width: 20%;
  margin: 20px auto;
}
.emptybox2
{
  width: 100%;
  margin: 20px auto;
}
.emptybox3
{
  width: 50%;
  margin: 20px auto;
}
.aboutmovie
{
  background-color: #000000;
  width: 95%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 3px;
  opacity: .8;
}
.infotitle
{
  font-family: sans-serif;
  font-weight: 400;
  color: #BB86FC;
  font-size: 35px;
  opacity: 1;
  text-align: left ;
  padding-left: 49px;
}
.align
{
  margin-left: 40px !important;
}
.googleinfo
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  padding-left: 49px;
}
.googleinfo2
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  padding:0px 15px;
}
ul , li
{
  list-style: none;
  line-break: normal;
}
.listdetails
{
  font-family: 'Poppins', sans-serif;
  color: white;
}
.boldd
{
  padding-left: 10px !important;
  color: #03DAC5;
  margin-right: 12px;
}
.castbox
{
  margin: 10px auto;
  padding: 10px 0px;
  display: flex;
  width: 90%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none ;
  scrollbar-width: none; 
}
::-webkit-scrollbar
{
  display: none;
}
.castdit
{
  display: block;
  margin: 0px auto;
  padding: 5px;
}
.castimg
{
  width: 110px;
  height: 140px;
  border-radius: 5px;
  margin: 0px auto;
  display: block;
}
.castname
{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.role
{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: #03DAC5;
  font-family: 'Poppins', sans-serif;
}
.reviewspace
{
  width: 98%;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.revbg
{
  background-color: #000000;
  width: 48%;
  position: relative;
  margin-left: 7px !important;
  padding: 0px 20px;
  border-radius: 3px;
  display: block;
  opacity: .8;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.mvid
{
  display: block;
  width: 50% ;
  margin: 0px auto;

}
.writing
{
  border: 1px solid white;
  text-align: justify;
  color: rgb(230, 226, 226);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.movieratefinal
{
  width: 98%;
  height: 300px;
  background-color: #000000;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  padding-bottom: 40px;
}
.infotitlefinal
{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
  opacity: 1;
  text-align: center  ;
  margin: 20px auto;
  padding: 20px 0px 0px 0px ;
}

.infoshow
{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  opacity: 1;
  text-align: center  ;
}
.box2
{
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
}
.box3
{
  width: 50%;
}
.box5
{
  width: 98%;
  display: flex;
  margin: 0px auto;
}
.hyimg
{
  height: 150px;
  float: right;
  border-radius: 8px;
  margin: 20px;
}
.bigratetext
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin:auto 20px;
}
.otherrev
{
  width: 50%;
  height: fit-content;
  background-color: #000000;
  display: block;
  margin: auto ;
  border-radius: 5px;
  padding: 10px 20px;
}
.mvid1
{
  margin-left: 10px;
}
table
{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}
tr,td
{
  display: flex;
  text-align: center !important;
  padding: 10px 10px;
  margin: 0px 10px;
}
@media only screen and (max-width:600px) 
{
  .box1
{
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 15px;
}
.aboutmovie
{
  background-color: #000000;
  width: 90%;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 3px;
  opacity: .8;
}
.emptybox
{
  width: 90%;
  margin: 20px auto;
}
.infotitle
{
  padding-left: 20px;
}
.align 
{
  margin-left: 10px !important;
}
.googleinfo
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  padding-left: 20px;
}
.googleinfo2
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  padding:0px 10px;
}
.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  padding:10px 10px;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
.castbox
{
  margin: 10px auto;
  padding: 10px 20px;
  display: block;
  width: 90%;
}
.castdit
{
  display: flex;
  margin: 10px auto;
}
.castname
{ 
  display: block;
  margin:auto;
  font-size: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center !important;
}
ul , li
{
  list-style: none;
  line-break: normal;
  padding: 0px 5px;
  margin: 0px 5px;
  width: 100%;
}
.role
{
  display: block;
  margin: auto 0px;
  padding: 0px;
  font-size: 14px;
  color: #03DAC5;
  font-family: 'Poppins', sans-serif;
  width: 100px;
}
.castimg
{
  width: 80px;
  height: 100px;
  border-radius: 5px;
  margin-left: 20px;
  display: block;
}
.reviewspace
{
  padding: 0px;
  margin: 0px;
  display: block;
}
.revbg
{
  background-color: #000000;
  width: 90%;
  margin-left: 5px !important;
  margin-right: 8px !important;
  padding: 10px 20px;
  border-radius: 3px;
  opacity: .8;
  display: block;
}
.writing
{
  color: white;
  font-size: 13px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.mvid
{
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent !important;
}
.mvid1
{
  display: block;
  width: 100%;
}
.emptybox2
{
  width: 90%;
  margin: 20px auto;

}
.movieratefinal
{
  width: 97%;
  height: fit-content;
  background-color: #000000;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  padding-bottom: 20px;
}
.infotitlefinal
{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
  opacity: 1;
  text-align: center  ;
  margin: 20px auto;
  padding: 20px 0px 0px 0px ;
}
.hyimg
{
  height: 100px;
  float: right;
  border-radius: 8px;
  margin: 20px;
}
.bigratetext
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  margin:auto 20px;
}
.box5
{
  width: 98%;
  display: block;
  margin: 0px auto;
}
.otherrev
{
  width: 90%;
  height: fit-content;
  background-color: #000000;
  display: block;
  margin: 10px ;
  border-radius: 5px;
  padding: 5px 10px;
}
table
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: white;
}
tr,td
{
  display: flex;
  padding: 10px 5px;
  margin: 0px 5px;
}
.emptybox3
{
  width: 100%;
  margin: 20px auto;

}
}
/*.search
{
  display: inline;
  border: 1px white solid;
  border-radius: 20px;
  width: fit-content;
  padding: 7px 15px 0px;
  margin: 0px auto;
}*/
.fa-solid
{
  background-color: #000000;
  color: white;
  margin: auto !important;
  padding: 0px;
  cursor: pointer;
  width: 10%;
  margin-left: 10px !important;
}

@media screen and (min-width: 601px) and (max-width: 910px) {
  .searchbar {
      display: inline-flex;
      margin: 10px auto;
      width: 40%;
  }
  .fa-solid
{
  background-color: transparent;
  color: white;
  margin: 20px 20px;
  padding: 0px;
  cursor: pointer;
}
.result-box {
    color: white;
    width: 100% !important;
    overflow-x: hidden;
    padding: 0px 0px;
    display: block;
    margin: 0px ;
  }
    .searchln
{
  display: block;
  margin: 0px auto;
  padding: 0px;
}
  
  .listboxul {
    background-color: #424242;  
    width: 85%;
    list-style-type: none;
    padding: 10px 0px;
    border-radius: 10px;
    margin:0px auto;
    display: block;
    
  }
}
@media only screen and (max-width:600px) 
{
  .searchbar {
    display: block;
    margin: 10px auto;
    width: 50%;
}
.fa-solid
{
background-color: transparent;
color: white;
margin: 20px 20px;
padding: 0px;
cursor: pointer;
}
.hmm
{
  width: 100%;
  left: 0;
}
.result-box {
  width: 90% !important;
  margin-right:40px !important;
  padding: 0px !important;

}
.listboxul {
  background-color: #424242;  
  width: 200%;
  list-style-type: none;
  padding: 10px 0px;
  margin: 0px auto;
  border-radius: 10px;
  overflow: hidden;
}
.podidetails2
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 13px;
  padding: 0px 10px;
  margin-top: 60px;
  text-align: left;

}
.listboxul {
  background-color: #282828;  
  width: 90%;
  list-style-type: none;
  margin: 0px 10px;
  padding:10px 0px;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  border: 1.5px solid gray;
}
}
.result-box {
  color: white;
  width: 50%;
  overflow-x: hidden;
  position: absolute;
  right: 0 ;
  margin:50px auto;
  padding: 0px;
  display: block;
  font-weight: 300;
z-index: 1;
}

.listboxul {
  background-color: #282828;  
  width: 90%;
  list-style-type: none;
  margin: 0px 20px;
  padding:10px 0px;
  left: 0;
  border-radius: 30px;
  overflow: hidden;
  border: 1.5px solid gray;
}

.listboxli {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.listboxli:hover {
  background-color: rgb(88, 88, 88);
}

hr
{
  padding: 0px 0px;
  margin:10px auto;
  width: 90%;
  border: 1px solid gray;
  border-radius: 50px;
}
.footertext
{
  background-color: #000000;
  display: block;
  margin: 0px auto;
  padding:25px 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}
.test5
{
  
margin-bottom: 0px;
  margin-top: -35px;
}
.test6
{
  margin-top: 0px;
  margin-bottom: -15px;
}

.boxnhover
{
  background-color: #000000;
}
.container2 {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: fit-content;
  margin: 0px;
  border-radius: 7px;
  padding: 10px 5px;
  transition: .5s;
}
.contentek {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  overflow: visible;
}

.container2:hover .contentek {
  opacity: 1;
}
@media screen and (max-width: 820px)
{
  .contentek
  {
    display: none;
  }
}
.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  padding:10px 15px;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  line-break: strict;
}
.readmorebtn2
{
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  margin: 0px auto;
  background-color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.podidetails2
{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 13px;
  padding: 0px 15px;
  margin-top: 65px;
  text-align: left;
}

.nospace
{
  margin: 0px;
  padding: 0px;
}

.footlink
{
  text-decoration: none;
  margin-bottom: 10px !important;
  color: white;
}
.footlink:hover
{
  color: gray;
}
.newsbox
{
  width: 200px !important;
  height: 300px;
  padding: 0px ;
  margin: 10px 5px;
  display:block;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;  
  border-radius: 8px; 
  position: relative;
}
.newsboxes
{
  width: 95%;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  margin: 10px auto;
  scrollbar-width: none;
}

@media screen and (max-width: 1070px) {
  .newsboxes
  {
    width: 95%;
    display: flex;
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 10px auto;
  }
}

.fullscrn
{
  width: 90%;
  height: 100%;
  position: fixed;
  margin: 0px auto;
  padding: 0px;
  z-index: 1;
}
.nameandcontent
{
  font-family: 'Caveat', cursive;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.form
{
  background-color: #03DAC5;
  margin: 0px auto; 
  padding: 0px;
  display: block;
  left: 0;
  width: 60%;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #0a0a0a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input
{
  border-radius: 15px;
}
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  font-family: 'Poppins', sans-serif;
  padding: 10px 18px;
  color: white;
  font-size: medium;
  border-radius: 10px;
}
.signupbtn
{
  font-family: 'Poppins', sans-serif !important;
  color: white;
  font-size: medium;
  border-radius: 10px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  font-family: 'Poppins', sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient(45deg, #121212, #1a1a1a) ;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 65%; /* Could be more or less, depending on screen size */
  padding: 0px 20px;
  border-radius: 20px;
}
label
{
  color: whitesmoke;
  font-weight: 400;
}
.floatrightbtn
{
  float: right;
  margin-left: 5px;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.idk
{
  color: #BB86FC;
  text-align: center;
}
.idk2
 {
  color: whitesmoke;
  font-size: 16px;
 }
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 90%;
     margin: auto;
     display: block;
  }
}
@media screen and (max-width: 640px) {
  .modal-content
  {
    padding: 2px;
    width: 90%;
  }
 .idk 
 {
   font-size: 17px;
 }
 .idk2
 {
  color: whitesmoke;
  font-size: 13px;
 }
 label
 {
  font-size: 13px;
 }
}
#more {display: none;}
.usernamewrite
{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #BB86FC;
  font-size: 18px;
}
.submitreview
{
  font-family: "Roboto Condensed", sans-serif;
  right: 0px !important;
  bottom: 0px !important;
  display: block;
  position: relative;
  width: fit-content;
  border-radius: 10px;
  background-color: #1a1a1a;
  border: 1px solid #282828;
}
.adrevwin
{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #03DAC5  ;
  padding: 20px;
  
}
.textareaa
{
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 90%;
}

.submitrevieww
{
  background-color: #2b2b2b;
  margin: 10px auto;
  display: block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  width: 50%;
  

}

.username
{
  width: 55% !important;
  margin-left: 20px !important;
}
.email
{
  width: 50% !important;
  margin-left: 20px !important;
  padding: 12px 20px;
  border: none;

}
h3
{
  color: #03DAC5;

}
.flexbtnwthin
{
  width: 100%;
  display: flex;
}
.closebtn
{
  cursor: pointer;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  display: block; 
  margin: auto;
  margin-right: 20px !important;
}
.closebtn:hover
{
  color: rgb(165, 165, 165);
}
.capecha
{
  margin: 20px auto ;
  padding: 20px;
}
.mynav
{
  width: 100%;
  height: 60px;
  color: #03DAC5;
  background-color: #000;
  display: flex;
  margin: auto;
  padding: 8px 0px;
}
.spaceforlogo
{
  margin: auto  ;
  width: 20%;
}
.lankanblogasbtton
{
  background-color: white !important;
  color: #000 !important;
  padding: 10px 35px 10px 40px !important;
  border-radius: 10px;
}
.bglogo
{
  background-image: url('../img/favicon1.ico');
  background-repeat: no-repeat;
  background-position: left;
background-size: 20px;
background-position-x: 10px;
}
.homelinkd
{
  font-family: 'Caveat', cursive;
  text-decoration: none;
  color: white;
  margin:10px auto;
  font-size: 25px;
  display: block;
}
.homelinkd:hover, .nostyle:hover
{
  color:#717171;
}
.linkorder
{
  display: flex;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  width: 50%;
  margin: auto;
  text-align: center;
}
.nostyle
{
  list-style: none;
  color: white;
  text-decoration: none;
  margin: auto;

}
.spaceforsearch
{
  display: flex;
  width: 20%;
  border: 1px white solid;
  border-radius: 25px;
  margin: 10px auto;
  padding: 0px 5px;
}
.searchbarr 
{
  border: none !important;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  outline: none !important;
}

.searchbar:focus {
  outline: none !important;
}
@media (max-width: 745px) 
{
  .mynav{
    display: block;
    height: fit-content;
  }
.linkorder
{
  display: flex;
  width: 100%;
  padding: 10px;
}
.nostyle
{
margin: auto;
width: 25%;
display: block;
}
}

@media (max-width: 500px) 
{
  body
  {
    margin-top: 0px !important;
  }
.mynav
{
  display: block;
  height: fit-content;
  width: 100%;
  margin-top: -10px !important;
  padding-top: 10px;
}
.spaceforlogo
{
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.spaceforsearch
{
  width: 90%;
  display: flex;
  margin: 10px auto 0px;
  padding:0px;
  height: 40px;
}
}
@media only screen and (min-width:1100px)
{
  .headline
  {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
  }
  .podidetails
  {
    font-size: 20px;
  }
  .details{ 
    font-size: 20px;
  }
  .cast{
    font-size: 18px;
  }
}
.connectuss
{
  margin: 0px;
  background-color: #000;
  color: white;
  width: 100%;
}
.bestweb
{
  position: fixed !important;
  bottom: 0px;
  z-index: 2;
}
#myBtn {
  width: fit-content;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #03DAC5;
  color: black;
  cursor: pointer;
  padding: 8px 11px 5px;
  border-radius: 25px;
  font-weight: 900;
}

#myBtn:hover {
  background-color: #6859fe;
}
#cookiePopup {
  background-color: #1a1a1a;
  position: fixed;
  font-size: 14px;
  width: 400px;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 10px !important;
  padding-bottom: 30px !important;
  border-radius: 6px;
  transition: all 0.4s ease-in;
  z-index: 100;
}
#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.cookieHeading {
  font-size: 20px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
#cookiePopup a {
  color: #6859fe;
}
.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}
.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
.acceptButton {
  width: 80px;
  height: 30px;
  background-color: #7b57ff;
  text-align: center;
  border: none;
  padding: 0px !important;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #977ef3;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}